/Bodylight/*.c
/Bodylight/*.exe
/Bodylight/*.exp
/Bodylight/*.lib
/Bodylight/*.mat
/Bodylight/*.mo~
/Bodylight/*.bak-mo
/Bodylight/dsfinal.txt
/Bodylight/dsin.txt
/Bodylight/dslog.txt
/Bodylight/buildlog.txt
/Bodylight/Resources/Install/Dymola/backup
/Bodylight/Resources/Install/Dymola/uninstall.bat
